<div class='text-center mb-4' >
  <h1>ユーザー情報を編集する</h1>
</div>

<div class='row justify-content-center'>
  <div class='col-sm-4 card p-4'>

    <%= form_with(model: @user, local: true) do |f| %>
    
      <%= render 'shared/error-messages', model: f.object %>
    
      <div class='form-group'>
        <%= f.label :name, 'ユーザー名' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <div class='form-group'>
        <%= f.label :image, 'ユーザー画像' %>
        <%= f.file_field :image %>
      </div>
      
      <%= f.submit '編集', class: 'btn btn-primary btn-block' %>
      
    <% end %>
    
  </div>
</div>