<div>
  <% if @user.image? %>
    <%= image_tag @user.image.url, class: 'rounded-circle' %>
  <% else %>
    <%= image_tag 'default.jpg', class: 'rounded-circle' %>
  <% end %>
  <h3><%= @user.name %></h3>
  <% if correct_user? %>
    <%= link_to '編集', edit_user_path(@user) %>
  <% end %>
</div>

<div>
  気になるリスト
</div>

<%= render 'shared/item_index', items: @items %>

<div>
  <%= link_to "#{@user.name}さんの投稿", review_user_path(@user) %>
</div>