<ul class='list-unstyled row'>
  <% items.each do |item|%>
    <% average_rating(item) %>
    <li class='col-sm-6 col-md-4 col-lg-3 card p-2 bg-light'>
      <a href='/items/<%= item.id %>' class='btn btn-light'>
          <% if item.image? %>
            <%= image_tag item.image.item_thumb.url %>
          <% else %>
            <%= image_tag 'noimage.png' %>
          <% end %>
        <ul class='list-unstyled'>
          <li class='text-left ml-3 mb-2'><%= item.name_item.truncate(80) %></li>
          <li class='text-left ml-3'>メーカ名：<%= item.maker %></li>
          <li class='text-left ml-3 text-danger'><%= "価格：#{item.price}円" if item.price %></li>
          <li class='text-left ml-3'><%= "#{item.reviews.count}件のレビュー" %></li>
          <li class='text-left ml-3 text-info'><%= "平均評価：#{@rating}" if @rating %></li>
        </ul>
      </a>
    </li>
  <% end %>
</ul>

<%= paginate items %>