<div class='container'>
  
  <%= form_tag(items_path,:method => 'get') do %>
    <div class='input-group m-3'>
      <%= text_field_tag :search, params[:search], placeholder: '商品名またはメーカー名を検索', class: 'form-control' %>
      <span class='input-group-btn'>
        <%= button_tag '検索', :name => nil, class: 'btn btn-primary' %>
      </span>
    </div>
  <% end %>
    
  <ul class='list-unstyled row'>
    <% items.each do |item|%>
        <li class='col-sm-3 card p-2'>
          <a href='/items/<%= item.id %>' class='btn btn-default'>
              <% if item.image? %>
                <%= image_tag item.image.item_thumb.url %>
              <% else %>
                <%= image_tag 'noimage.png' %>
              <% end %>
            <ul class='list-unstyled'>
              <li class='text-left ml-5 mb-2'><%= item.name_item.truncate(80) %></li>
              <li class='text-left ml-5'>メーカ名：<%= item.maker %></li>
              <li class='text-left ml-5'><%= "価格：#{item.price}円" if item.price %></li>
              <li class='text-left ml-5'><%= "#{item.reviews.count}件のレビュー" %></li>
            </ul>
          </a>
        </li>
    <% end %>
  </ul>
</div>