<%= form_tag(items_path,:method => 'get') do %>
  <%= text_field_tag :search, '', placeholder: '商品名またはメーカー名を検索', class: 'form-control' %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<h1 class='text-center m-5'>新着レビュー</h1>
<%= render 'shared/review_index', reviews: @reviews %>

<%= link_to 'レビュー一覧へ', reviews_path, class: 'btn btn-primary' %>