<div class='container'>
  <%= form_tag(items_path,:method => 'get') do %>
    <div class='input-group m-3'>
      <%= text_field_tag :search, '', placeholder: '商品名またはメーカー名を検索', class: 'form-control' %>
      <span class='input-group-btn'>
        <%= button_tag '検索', :name => nil, class: 'btn btn-primary' %>
      </span>
    </div>
  <% end %>
  
  <section>
    <heading class='text-center m-5'>
      <h2>Audio Reviewsとは</h2>
      <p class='text-muted'>イヤホンやスピーカーなどのオーディオ機器を登録し、<br>レビューを投稿できるWebサイトです。</p>
    </heading>
    <div class='row justify-content-center'>
      <div class='col-sm-4 mb-3'>
        <div class='card'>
          <h5 class='card-title card-header'>登録不要で</h5>
          <p class='p-2'>ユーザー登録なし（非ログイン状態）では、サイト内商品の検索、商品情報やレビューの閲覧が可能です。商品への評価は１〜５の５段階で表されています。</p>
        </div>
      </div>
      <div class='col-sm-4 mb-3'>
        <div class='card'>
          <h5 class='card-title card-header'>ログインすると</h5>
          <p class='p-2'>ログイン状態では、閲覧に加えて商品の「気になるリスト」への登録、商品に対するレビューの投稿や編集、商品の登録などが可能となります。</p>
        </div>
      </div>
    </div>
    <% unless logged_in? %>
    <div class='row justify-content-center'>
      <%= link_to '新規登録はこちら', new_user_path, class: 'col-sm-3 btn btn-primary mt-3' %>
      <%= link_to 'ログイン（登録済の方）', login_path, class: 'col-sm-3 offset-sm-1 btn btn-success mt-3' %>
    </div>
    <% end %>
  </section>
  
  <h1 class='text-center m-5'>新着レビュー</h1>
  <%= render 'shared/review_and_item_index', reviews: @reviews %>
  
  <%= link_to 'レビュー一覧へ', reviews_path, class: 'btn btn-dark m-3' %>
</div>