<div>
  <% if @item.image? %>
    <%= image_tag @item.image.item_thumb.url %>
  <% else %>
    <%= image_tag 'noimage.png' %>
  <% end %>
    <%= @item.name_item%>
    <%= "メーカー名：#{@item.maker}" %>
    <%= "価格：#{@item.price}" if @item.price?%>
    <%= "商品の説明：#{@item.outline}" if @item.outline%>
</div>

<% if logged_in? %>
  <%= render 'shared/like_button', item: @item %>
<% end %>

<%= link_to 'この商品のレビューを書く', new_review_item_path %>

<%= render 'shared/review_index', reviews: @reviews %>