<div>
    <%= image_tag @item.image.url if @item.image? %>
    <%= @item.name_item%>
    <%= "メーカー名：#{@item.maker}" %>
    <%= "価格：#{@item.price}" if @item.price?%>
    <%= "商品の説明：#{@item.outline}" if @item.outline%>
</div>

<%= render 'shared/like_button', item: @item %>