<p>タイトル：<%= @review.title %></p>
<p>評価：<%= @review.rating %></p>
<p>レビュー内容：<%= @review.content %></p>

<% if authority? %>
<%= link_to '編集', edit_review_path(@review) %>
<%= link_to '削除', review_path(@review), method: :delete %>
<% end %>