<div class='container'>
  <div class='media card m-2'>
    <a href='/users/<%= @review.user.id %>' class='btn btn-default bd-placeholder-img'>
      <% if @review.user.image? %>
        <%= image_tag @review.user.image.url, class: 'rounded-circle' %>
      <% else %>
        <%= image_tag 'default.jpg', class: 'rounded-circle' %>
      <% end %>
      <%= @review.user.name%>
    </a>
    <div class='media-body'>
      <h5 class='float-left mr-3'>評価：<%= @review.rating %></h5>
      <h5 class='float-left'><%= @review.title %></h5><br>
      <div class='float-left'><%= @review.content %></div>
    </div>
  </div>
  <% if authority? %>
  <%= link_to '編集', edit_review_path(@review) %>
  <%= link_to '削除', review_path(@review), method: :delete %>
  <% end %>
</div>